.DetailsPage {
    .AllProduct {
      .productDetails {
          width: 100%;
          max-width: 600px;
          margin: auto;
        .proImg {
          &.details{
              width: 100%;
              height: 400px;
              overflow: hidden;
              margin-bottom: 20px;
          }
        }
      }
    }
  }
  